{
  "extends": [
    "stylelint-config-standard"
  ],
  "rules": {
    "rule-empty-line-before": null,
    "declaration-empty-line-before": null,
    "selector-pseudo-class-no-unknown": null,
    "selector-type-no-unknown": null,
    "no-descending-specificity": null,
    "value-list-comma-newline-after": null,
    "declaration-colon-newline-after": null,
    "no-eol-whitespace": null,
    "no-missing-end-of-source-newline": null
  }
}
