@import '../../animations.less';

.portfolio {
    h1 {
        max-width: 1024px;
        margin: 40px auto;
    }
    .projects-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        margin-bottom: 20px;

        each(range(10), {
            @animation-delay: (@value - 1) * 0.5;
            .project:nth-child(@{value}) {
                opacity: 0;
                animation: Fade 1s;
                animation-delay: ~"@{animation-delay}s";
                animation-fill-mode: forwards;
            }
          });
    }
}

@media screen and (max-width: 1023px) {
    .portfolio {
        h1 {
            padding: 0 20px;
        }
    }
}

@media screen and (max-width: 500px) {
    .portfolio {
        .projects-list {
            grid-template-columns: 1fr;
        }
    }
}
