@import "../../animations.less";

header {
    display: flex;
    max-width: 1024px;
    height: 100px;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    .logo {
        width: 40px;
        height: 40px;
        &:hover {
            opacity: 0.8;
        }
    }

    .menus {
        display: flex;
    }

    .link {
        color: #222222;
        text-decoration: none;
        padding: 10px 5px;
        border-left: 5px solid transparent;
        font-size: 15px;
        .underline();
    }
}

@media screen and (max-width: 1023px) {
    header {
        height: 60px;
        padding: 0 20px;
    }
}
