.blog-post {
    h1 {
        max-width: 1024px;
        margin: 40px auto;
    }

    .post {
        width: 1024px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    img {
        cursor: zoom-in;
    }
}

@media screen and (max-width: 1200px) {
    .blog-post {
        h1 {
            padding: 0 20px;
        }
        .post {
            width: 100%;
            padding: 0 20px;
        }
    }
}


